<div class="page-width">
  <h2>Title Contact form Extended</h2>

  {% form 'contact' %}
    <label for="contact[email]">
      Email
      <input type="email" name="contact[email]">
    </label>
    <br>

    {% comment %} input type="textarea" is optional {% endcomment %}
    <label for="contact[body]">
      Text
      <input type="textarea" name="contact[body]">
    </label>
    <br>
    <button type="submit">SEND</button>
    {{ form.errors | default_errors }}
  {% endform %}
</div>

{% schema %}
  {
    "name": "Contact form Extd",
    "tag": "section",
    "class": "section contact-form-extended",
    "presets": [
      {
        "name": "Contact form Extend"
      }
    ]
  }
{% endschema %}